body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {

  position: relative;
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: -75px;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 0px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  height: 79px;
  white-space: pre-wrap;
  padding: 0;
}

input {
  border: none;
  background-color: #d3d3d3;
  height: 95%;
  width: 100%;
  margin: -30px 0 0 0;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
  /* border: 1px solid black; */
}

.future {
  background-color: #77dd77;
  color: white;
}

.savebtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.savebtn:hover {
  border: 1px solid black;
  background-color: #b5d4db;
  /* font-size: 20px; */
  transition: all 0.3s ease-in-out;
}
